:root {
  --primary-color: #333;
  --shadow: 0 0 0.1875rem rgba(0, 0, 0, 0.1);
  --rounded: 0.5rem;
  --transitionAll: all 0.2s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Calibri", sans-serif;
  color: var(--primary-color);
  padding: 0.25rem 1rem;
}

main {
  width: 100%;
  max-width: 25rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding: 0.625rem 1rem;
  border-bottom: 0.125rem solid var(--primary-color);
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

img {
  display: block;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  outline: none;
  border: 0.0625rem solid #333;
  cursor: pointer;
  transition: var(--transitionAll);
}

button.active {
  background-color: cornflowerblue;
  color: #fff;
}
